# 1. FOR LOOPS

In [5]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list=[1,2,3]
my_list

[1, 2, 3]

In [6]:
for i in my_list:
    print(i)

1
2
3

In [7]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
    print(i)
    print("Helloworld")

1
Helloworld
2
Helloworld
3
Helloworld

In [8]:
# List of strings
my_list=['AAPL','GOOG','T','TSLA','SP500']
my_list

['AAPL', 'GOOG', 'T', 'TSLA', 'SP500']

In [9]:
for i in my_list:
    print(i)

AAPL
GOOG
T
TSLA
SP500

In [10]:
# you can loop over a string as follows
for i in 'TSLA':
    print(i)

T
S
L
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [11]:
my_string=input("Enter a string")
for i in my_string:
    if i == 'T':
        print("*")
    else:
        print(i)

y

# 2. RANGE

In [12]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [13]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [14]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [15]:
for i in  reversed(range(5)):
    print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
user_range=input("Enter range:")
user_range=input("Enter range:")
user_range=int(user_range)
for i in range(user_range):
    if i%2==0:
        print(i)

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for x in range(1,11):
    print("{} {} {}".format(x,x*x,x*x*x))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i=0

while i<=15:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [ ]:
x=0
while x<=30:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
for i in range(1,31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [2]:
import random

In [3]:
keep_rollin='y'
while keep_rollin=='y':
    print('Rollin the die please wait',random.randint(1,6))
    print('Rollin the die please wait #2',random.randint(1,6))

    keep_rollin=input('Do you want to roll again')

Rollin the die please wait 3
Rollin the die please wait #2 6

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [4]:
my_list=['GOOG','AAPL','T','TSLA','SP500']

In [5]:
for i in my_list:
    print(i)
    if i=='T':
        break

GOOG
AAPL
T

In [6]:
# print out all elements in the list
my_list=[1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected

In [ ]:
# Print only odd elements and skip even numbers

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [7]:
print('Keep entering and i will display average')
avg=0
n=0
while True:
    x=input('Ejnte the number:')

    if x =='e':
        break
    x=int(x)
    n=n+1
    avg=((avg*(n-1))+x)/n
    print('the current average is',avg)

Keep entering and i will display average
the current average is 2.0
the current average is 2.0
the current average is 2.6666666666666665
the current average is 3.0
the current average is 3.6
the current average is 4.0

# 5. NESTED LOOPS

In [10]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1,4):#slow loop
    for y in range(1,11):#first loop
        print('{}*{}={}'.format(x,y,x*y))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [11]:
color_list=['black','white','gold']
phone_list=['iphone','samsung','blackberry']
for i in color_list:
    for j in phone_list:
        print(i,j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [14]:
n=input('Enter your limit:')
n=int(n)
for i in range(1,(n+1)):
    for j in range(1,10):
        print("{}*{}={}".format(i,j,i*j))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

# 6. LIST COMPREHENSION

In [15]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list=[1,2,3,4]
ouput_list=[]
for element in input_list:
    ouput_list.append(element**2)
ouput_list

[1, 4, 9, 16]

In [16]:
# List comprehension is a super powerful one line of code!
[element**2 for element in input_list]

[1, 4, 9, 16]

In [17]:
# Let's square even numbers only 
# We need to insert a condition 
input_list=[1,2,3,4,5,6,7,8,9,10]
output_list=[]
for i in input_list:
    if i%2==0:
        output_list.append(i**2)

print(output_list)

[4, 16, 36, 64, 100]

In [18]:
# All this could be done with one line of code as well using List Comprehension
[ i**2 for i in input_list if i%2==0]

[4, 16, 36, 64, 100]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [19]:
stock_price=[1000,2000,4000,3000,5000,2000,6000]
[i/1000 for i in stock_price]

[1.0, 2.0, 4.0, 3.0, 5.0, 2.0, 6.0]

# MINI CHALLENGE SOLUTION

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
for letter in 'TSLA':
  if letter == 'T':
    print('*')
  else:
   print(letter)

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
min = int(input("Enter the price (lower bound: "))
max = int(input("Enter the price (Upper bound: "))

for i in range(min, max):
    if i%2 == 0: 
        print(i)

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that displays numbers from 1 to 30 (including 30) using for and while loops**

In [ ]:
i = 1
while (i < 31):
  print (i)
  i = i+1

In [ ]:
for i in range(1, 31):
    print(i)

**MINI CHALLENGE #5 SOLUTION:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dices, please wait!...")
    print("Rolling results for Dice #1:", random.randint(1, 6))
    print("Rolling results for Dice #2:", random.randint(1, 6))

    keep_rolling = input("Do you want to roll again?")

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [ ]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1, number+1): # slow loop 
  for y in range(1, 11):   # fast loop
   print('{} x {} = {}'.format(x, y, x*y))

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [ ]:
print('Enter a list of past 7-days prices separated by a space:')
prices = [int(x) for x in input().split()]

In [ ]:
normalized_prices = [ (i/prices[0]) for i in prices]
print('Orginal Prices: {}\nNormalized Prices: {}\n'.format(prices, normalized_prices))