# 1. BUILT-IN FUNCTIONS

In [1]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x=[4,5,1,2,8,5]
y=list(range(1,7))

In [2]:
x

[4, 5, 1, 2, 8, 5]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [4]:
# Let's obtain the length of y
len(y)

6

In [5]:
# Let's obtain the minimum value 
min(x)

1

In [6]:
# Let's obtain the maximum value
max(x)

8

In [7]:
# Let's create a tuple out of the list
z=tuple(x)

In [8]:
z

(4, 5, 1, 2, 8, 5)

In [9]:
type(z)

tuple

In [10]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [13]:
x=[-1,-4,-7]
y=[-3,7,4]
z=abs(sum(x+y))
z

4

# 2. FUNCTIONS

In [14]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
    print('Welcome to python for finance course')

In [15]:
# Function call
my_function()

Welcome to python for finance course

In [16]:
# Define a function that takes in argument x and return the squared value 
def squered(x):
    return x**2

In [18]:
# Call the function
squered(4)

16

In [22]:
# Define a function with default value 
def my_function(amount=0.0):
    print('my total portfolio worth is {}'.format(amount))

In [23]:
# If you pass an argument to the function, it overwrites the default value 
my_function()

my total portfolio worth is 0.0

In [ ]:
# If you don't pass an argument, the default value "20000" will be used instead

My total portfolio worth is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [26]:
def total_balance():
    num_shares=int(input("Enter the number of shares"))
    price_share=float(input("Enter the price of a share;"))
    balance=num_shares*price_share
    return balance

In [28]:
total_balance()

12000.0

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [29]:
# let's see how to create a basic function that squares the input
def my_function(x):
    return x**2

In [30]:
# Function call
my_function(3)

9

In [31]:
# We can do the same task using Lambda expression
# Note that there is no function name
y=lambda x:x**2

In [32]:
y(3)

9

In [37]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def sumation(x,y,z):
    return x+y+z

In [38]:
result =sumation(1,2,3)
result

6

In [39]:
result=lambda x,y,z:x+y+z

In [40]:
result(1,2,3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [41]:
total_balance=lambda share,price:share*price

In [42]:
share=int(input("Enter the number of shares"))
price=float(input("Enter the price of the shares:"))
total_balance(share,price)

12000.0

# 4. MAP

In [45]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a=[1,4,5,6,9]
b=[1,7,9,12,7]

In [46]:
# Let's define a function that adds two elements together
def summation(a,b):
    return a+b

In [47]:
# You can now use map() to apply a function to the entire list and generate a new list
c=list(map(summation,a,b))
c

[2, 11, 14, 18, 16]

In [49]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list=[1,2,3,4]
out_list=list(map(lambda x:x**2,input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [50]:
cubes=lambda x:x**2*x

In [51]:
cubes(3)

27

In [60]:
list_intagers=list(range(-10,11))
cubes=list(map(lambda x:x*x*x,list_intagers))
cubes

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

# 5. FILTER

In [61]:
# filter is used to create a list of elements for which a function returns "True".
prices=[105,5055,356,923,1443,222,62]
prices

[105, 5055, 356, 923, 1443, 222, 62]

In [63]:
# return only even numbers
out=list(filter(lambda x: (x%2==0),prices))
out

[356, 222, 62]

In [64]:
# Return prices that are greater than or equal 100
out=list(filter(lambda x: (x%2==1),prices))
out

[105, 5055, 923, 1443]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [65]:
# Return age between 200 and 250
out=list(filter(lambda x:(x>=100),prices))
out

[105, 5055, 356, 923, 1443, 222]

In [66]:
out=list(filter(lambda x:(x>=200 and x<=250),prices))
out

[222]

In [71]:
max=int(input("Enter maximum /upper bound:"))
min=int(input("Enter loweer bound:"))
numbers=range(min,max)
out_put=list(filter(lambda x:(x%2==0 and x>0),numbers))
out_put

[2, 4, 6, 8]

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [ ]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [ ]:
def total(units, price):
    amount = units * price
    return(amount)

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 80
Enter the price per share: 5
Total account balance = 400

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 80
Enter the price per share: 5
Total = 400

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [ ]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)